@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: Helveticacondensed;
    src: url(../../public/Fonts/Fonts/fonnts.com-Helvetica_Condensed_Light.ttf);
}

@font-face {
    font-family: HelveticaBoldcont;
    src: url(../../public/Fonts/Fonts/HelveticaLTStd-BoldCond.otf);
}

@font-face {
    font-family: HelveticaMyriadlight;
    src: url(../../public/Fonts/Fonts/MyriadPro-Light.otf);
}

@font-face {
    font-family: Helveticamyriadregular;
    src: url(../../public/Fonts/Fonts/MyriadPro-Regular.otf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




/********** Container CSS Start **********/

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    width: 100%;
    padding: 0px 30px;
}


/********** Container CSS End **********/


/********** Header Login Start **********/

header.header-main {
    padding: 10px 0px 8px 0px;
    background-image: linear-gradient(109.6deg, #869AA233 20%, #869AA2 100.6%);
}

header.header-main .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left-logo img {
    width: 120px;
}

.nav-items ul {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
}

.nav-items ul li {
    list-style: none;
}

.nav-items ul li a {
    text-decoration-line: none;
    color: #fff;
    font-family: Helvetica;
}

/********** Header Login End **********/


/********** Header Main Start **********/



.headerlogo {
    text-align: end;
    padding: 10px 13px 10px 0px;
}

.headerlogo img {
    width: 86.99px;
}

.headermock {
    display: grid;
    grid-template-columns: repeat(3, minmax(30%, 1fr));
    text-align: start;
    background: #ED1C24;
    color: #fff;
    border-radius: 15px;
    padding: 5px 10px 5px 20px;
}

.mockhead-hamburger {
    display: flex;
    align-items: center;
}

.mocktxt {
    display: flex;
    align-items: center;
    gap: 8px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    justify-content: center;
}

.mocktxt img {
    width: 37.48px;
}



/********** Header Main End **********/


/********** Home Page CSS Start **********/


section.homepg-card-sec {
    overflow: hidden;
    padding: 20px 0px;
}

section.homepg-sec {
    padding: 75px 0px 0px 0px;
}

.home-headLogo img {
    padding: 0px 0px 26px 0px;
}

.home-headLogo p {
    font-style: italic;
    color: #6D6E71;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
}

.home-headLogo {
    margin: 0px 0px 90px 0px;
    text-align: center;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(186.79px, 1fr));
    /* Default: 4 cards */
    gap: 53px;
    max-width: 1200px;
    width: 100%;
}

.homemock-card {
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
    border-radius: 40px;
    position: relative;
    box-shadow: 0px 15px 10px -15px #111; 
}

.cardbottom-shadow img {
    position: absolute;
    content: "";
    left: -75px;
    width: 390px;
    height: 50px;
    bottom: -26px;
    z-index: -111;
}

.card-container .homemock-card:nth-child(1) {
    background: #55C6FF;
    border: 1px solid #0276BA;
}

.card-container .homemock-card:nth-child(2) {
    background: #FFF057;
    border: 1px solid #FBAD18;
}

.card-container .homemock-card:nth-child(3) {
    background: #F6958E;
    border: 1px solid #ED1C24;
}

.card-container .homemock-card:nth-child(4) {
    background: #9DED6C;
    border: 1px solid #20B14B;
}

.card-container .homemock-card:nth-child(1) .cardtop-content {
    background: #1A90FF;
    border: 1px solid #0276BA;
}

.card-container .homemock-card:nth-child(2) .cardtop-content {
    background: #FBAD18;
}

.card-container .homemock-card:nth-child(3) .cardtop-content {
    background: #ED2724;
}

.card-container .homemock-card:nth-child(4) .cardtop-content {
    background: #20B14B;
}

.cardtop-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 21px 0px 11px 0px;
    border-radius: 40px;
}

.cardbottem-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 29px 28px 20px 29px;
}

.cardtop-content img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-bottom: 13px;
}

.cardtop-content h2 {
    font-size: 30px;
    margin: 0px 0px 14px 0px;
    color: #fff;
    text-transform: uppercase;
}

.cardtop-content h6 {
    font-size: 18px;
    color: #fff;
}


.cardbottem-content h4 {
    padding: 0px 0px 26px 0px;
    font-size: 20px;
    color: #58595B;
}


.cardbottem-content p {
    font-size: 16px;
    color: #58595B;
    line-height: 1.4;
}

section.login-signup-sec {
    padding: 85px 0px 75px 0px;
}



.loginSignup-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}


section.login-signup-sec {
    padding: 108px 0px 97px 0px;
}

.loginSignup-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.loginSignup-btn a {
    text-decoration-line: none;
    color: #8698A2;
    font-weight: 600;
    padding: 7px 21px;
    border: 2px solid #8698A2;
    border-radius: 20px;
    background: transparent;
    width: 110px;
}

.loginSignup-btn .loginBtn {
    background: transparent;
    transition: all .6s ease;
}

.loginSignup-btn .loginBtn:hover {
    background: #8698a278;
    color: #fff;
}

.loginSignup-btn .signupBtn {
    background: #8698a278;
    color: #fff;
    transition: all .6s ease;
}

.loginSignup-btn .signupBtn:hover {
    background: transparent;
    color: #8698A2;
}


/********** Home Page CSS End **********/


/********** UserLogin Page CSS Start **********/

.mocksection-pg {
    padding: 140px 0px 100px 0px;
}


.userlogin-sec .card-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(186.79px, 1fr));
    max-width: 875px;
    margin: 0 auto;
}

.userlogin-sec .card-container .homemock-card .cardbottem-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 29px 28px 50px 29px;
}

.mock-container {
    display: grid;
    grid-template-columns: repeat(5, minmax(100px, 1fr));
    max-width: 930px;
    margin: 0 auto;
    gap: 40px;
}


.mock-image img {
    border: 1px solid #00000059;
    padding: 15px;
    width: 100%;
}


.progress-btn button {
    margin: 15px 5px 0px 5px;
    background: #D1D3D4;
    border: 1px solid #D1D3D4;
    padding: 8px 21px;
    border-radius: 40px;
    font-size: 12px;
}

.userlogin-sec {
    padding: 0px 0px 150px 0px !important;
}

.userlogin-sec .cardbottom-shadow img {
    left: -70px !important;
}

/********** UserLogin Page CSS End **********/


/********** Mock Section Page CSS Start **********/

.question-box {
    background: #1A90FF;
    border: 1px solid #0276BA;
    padding: 20px 15px;
    width: 215.72px;
    border-radius: 25px;
    margin: 0 auto;
    position: relative;
}

.question-box h3 {
    font-size: 26px;
    color: #fff;
    text-transform: uppercase;
    padding: 0px 0px 17px 0px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.question-box h3 img {
    width: 28.62px;
}

.question-score h6 {
    color: #231F20;
    font-size: 14px;
    text-transform: capitalize;
}

.question-score {
    display: flex;
    align-items: center;
    gap: 10px;
}

.question-box .cardbottom-shadow img {
    left: -70px;
    width: 350px;
}


.note-box {
    background: #D1D3D4;
    border: 1px solid #6D6E71;
    padding: 20px 15px;
    width: 215.72px;
    border-radius: 25px;
    position: relative;
    margin: 0 auto;
}

.note-box h3 {
    font-size: 23px;
    color: #fff;
    text-transform: uppercase;
    padding: 0px 0px 17px 0px;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}

.note-box h3 img {
    width: 21.76px;
}

.note-score {
    display: flex;
    gap: 8px;
    position: relative;
    align-items: center;
}

.note-score h6 {
    color: #939598;
    font-size: 14px;
    text-transform: capitalize;
}

.lock-img {
    position: absolute;
    top: 10px;
    right: 10px;
}

.mock-box {
    background: #ED1C24;
    border: 1px solid #BE1E2D;
    padding: 20px 15px;
    width: 215.72px;
    border-radius: 25px;
    margin: 0 auto;
    position: relative;
}


.mock-box h3 {
    font-size: 23px;
    color: #fff;
    text-transform: uppercase;
    padding: 0px 0px 17px 0px;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}

.mock-box h3 img {
    width: 37.79px;
}


.note-score .progress-bar {
    background: #E6E7E8;
    border: none;
}


.mock-box .cardbottom-shadow img {
    left: -70px;
    width: 350px;
}

.note-box .cardbottom-shadow img {
    left: -70px;
    width: 350px;
}

.question-note-boxes {
    display: grid;
    grid-template-columns: repeat(3, minmax(186.79px, 1fr));
    margin: 0 auto;
    max-width: 900px;
}


.questions-notes-mock-sec {
    padding: 0px 0px 100px 0px;
}


/********** Mock Section Page CSS End **********/


/********** Mock Selection Page CSS Start **********/


section.mockselection-sec {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 0px;
}

.mockselection-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 87px;
}


.mock-timer-btn {
    background: #ED1C24;
    border: 1px solid #BE1E2D;
    box-shadow: 0 0 17px #0000004D;
    border-radius: 30px;
    padding: 23px 70px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 230.80px;
    cursor: pointer;
}

button.mock-timer-btn img {
    width: 34.79px;
    margin: 0px 0px 16px 0px;
}


.begin-btn {
    border: 1px solid #00A14B;
    border-radius: 30px;
    padding: 41px 77px;
    color: #231F20;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #9DED6C;
    font-size: 26px;
    font-weight: bold;
    position: relative;
    cursor: pointer;
}

.begin-btn .cardbottom-shadow img {
    left: -62px;
    width: 350px;
}

button.begin-btn a {
    text-decoration-line: none;
    color: #231F20;
}

/********** Mock Selection Page CSS End **********/


/********** Mock Question Page CSS Start **********/

.questionnumber-slide-container {
    display: flex;
    align-items: center;
    gap: 0px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}
  
  .slider-wrapper {
    flex: 1;
    overflow: hidden;
    position: relative;
  }
  
  .questionnumber-slide {
    display: flex;
    gap: 1px;
    will-change: transform;
    position: relative;
    padding: 40px 0px;
}
  
  .questionnumber {
    min-width: 21.83px;
    text-align: center;
    padding: 15px 0px;
    border: 1px solid #231f2040;
    border-radius: 4px;
    flex-shrink: 0;
    font-size: 12px;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    font-family: Helveticacondensed;
    color: #000;
}

.questionnumber.selected {
    background-color: #D1D3D4;
  }


   .red-flag {
    position: absolute;
    top: -14px;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
}


  .questionleft-arrow,
  .questionright-arrow {
    cursor: pointer;
    font-size: 24px;
    user-select: none;
    transition: all 0.2s ease;
    background: transparent;
    border-radius: 4px;
    color: #939598;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .questiontext-box {
    background: #F1F2F2;
    padding: 20px 64px 20px 35px;
    text-align: left;
    border: 1px solid #bcbec075;
    border-radius: 30px;
    position: relative;
    margin: 0px 0px 29px 0px;
}

.questionflag {
    position: absolute;
    right: 30px;
    top: 20px;
    cursor: pointer;
}

.questionflag svg {
    width: 18.67px;
}

.questiontext-box p {
    font-size: 15px;
    line-height: 22px;
    color: #231F20;
    text-align: justify;
}

.question-option h4 {
    text-align: left;
    padding: 10px 35px;
    color: #231F20;
}

.question-option {
    margin: 0px 0px 22px 0px;
}

.selected {
    background: #D1D3D4;
}

.questionsoptions-arrows {
    display: grid;
    grid-template-columns: repeat(2, minmax(40%, 1fr));
    gap: 38px;
    padding: 14px 0px 0px 0px;
}

.questionoption-leftarrow {
    background: #F1F2F2;
    border-radius: 15px;
    border: 1px solid #bcbec070;
    padding: 8px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.questionoption-rightarrow {
    background: #F1F2F2;
    border-radius: 15px;
    border: 1px solid #bcbec070;
    padding: 8px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.questiontext-sec {
    padding: 0px 0px 100px 0px;
}


.mockquestion-navigate {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}


.mockquestion-navigate ul {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: end;
    height: 100%;
    width: 63%;
}

.mockquestion-navigate ul li {
    list-style: none;
    position: relative;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    font-size: 15px;
    cursor: pointer;
}

.flaggedquestions {
    top: -25px !important;
    width: 110px !important;
    right: -67px !important;
}


.mockquestion-navigate ul li a:focus {
    outline: none;
}


.mockquestion-navigate ul li span {
    position: absolute;
    width: auto;
    right: -45px;
    top: -27px;
    font-size: 11px;
    background-color: #9DED6C;
    padding: 3px 6px;
    border-radius: 6px;
    visibility: hidden;
    opacity: 0;
    color: #000000;
}

.mockquestion-navigate ul li span::before {
    position: absolute;
    content: "";
    background: #9DED6C;
    width: 10px;
    height: 10px;
    bottom: -9px;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    left: 14px;
}

span.pausemock {
    right: -40px !important;
    top: -25px !important;
}

.mockquestion-navigate ul li:hover span {
    visibility: visible;
    opacity: 1;
}


.flag-hover-text {
    position: absolute;
    width: 75px;
    right: -10px;
    top: -30px;
    font-size: 10px;
    background-color: #9DED6C;
    padding: 3px 6px;
    border-radius: 6px;
    color: #000000;
    visibility: hidden;
    opacity: 0;
}

.flag-hover-text::before {
    position: absolute;
    content: "";
    background: #9DED6C;
    width: 10px;
    height: 10px;
    bottom: -9px;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    right: 10px;
}

.questionflag:hover .flag-hover-text {
    visibility: visible;
    opacity: 1;
}


/********** Mock Question Page CSS End **********/


/********** Mock Birds Eye Page CSS Start **********/


.mockbirdseye-sec {
    padding: 42px 0px;
    text-align: left;
}

.mockbirdseye-boxes h4 a {
    text-decoration-line: none;
    color: #000000;
    border-radius: 10px;
    background: #BCBEC0;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 57.13px;
    height: 49.27px;
    font-size: 14px;
    font-family: Helveticacondensed;
}


.mockbirdseye-boxes h4 a:hover {
    background: #939598;
    color: #fff;
}

.birdsaeye-head {
    padding: 0px 0px 42px 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.birdsaeye-head h6 {
    background: #ED1C24;
    color: #fff;
    padding: 8px 23px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
}


.mockbirdseye-boxes h4:nth-last-child(-n+3) a {
    background: #F1F2F2 !important;
}

.mockbirdseye-boxes h4:nth-last-child(-n+3) a:hover {
    background: #F1F2F2 !important;
    color: #000000;
}


.mockbird-submitbtn {
    padding: 43px 0px 78px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.mockbird-submitbtn button {
    text-decoration-line: none;
    color: #231F20;
    background: #9DED6C;
    border: 1px solid #00A14B;
    padding: 13px 22px;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
    width: 154.77px;
    text-align: center;
    height: 40.97px;
    line-height: 15px;
    cursor: pointer;
}

.unanswered-btn {
    background: #ED1C24;
    color: #fff;
    border-radius: 40px !important;
    padding: 13px 20px !important;
    width: 156.83px;
    height: 40.57px;
    line-height: 15px;
    font-weight: bold;
}

.submitmock-btn {
    background: #9DED6C;
    width: 156.83px;
    height: 40.57px;
    border: 1px solid #00A14B !important;
    color: #000000;
    border-radius: 40px !important;
    line-height: 15px;
    font-weight: bold;
    position: relative;
}

.submitmock-btn .cardbottom-shadow img {
    left: 50%;
    transform: translate(-50%);
    width: auto;
    bottom: -26px;
}

/********** Mock Birds Eye Page CSS End **********/


/********** Mock Score Page CSS Start **********/

.mockscore-progress-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    gap: 86px;
}

.mockscore-sec {
    width: 100%;
    height: 100vh;
}

.progress-text-score {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 80px;
    margin: 0px 0px 8px 0px;
}


.mockbird-submitbtn .cardbottom-shadow img {
    left: 50%;
    transform: translate(-50%);
    bottom: 53px;
    width: auto;
}

button.modal-exit-btn .cardbottom-shadow img {
    left: 50%;
    transform: translate(-50%);
    width: auto;
    bottom: -25px;
}

.reviewmock-btn a {
    background: #9DED6C;
    border: 1px solid #20B14B;
    text-decoration-line: none;
    padding: 11px 26px;
    width: 172.41px;
    height: 40.58px;
    border-radius: 40px;
    display: block;
    color: #231F20;
    font-weight: bold;
}

.reviewmock-btn {
    position: relative;
}

.reviewmock-btn .cardbottom-shadow img {
    left: 50%;
    transform: translate(-50%);
    width: 300px;
    bottom: -24px;
}

/********** Mock Score Page CSS End **********/


/********** Review Scroll Page CSS Start **********/


.question-option-tabsbox-scroll {
    height: 640px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0px 12px 0px 25px;
    /* Firefox support */
    scrollbar-width: thin;
    scrollbar-color: #B5B7B9 transparent;
  }
  
  /* Chrome, Edge, Safari (Webkit-based) */
  .question-option-tabsbox-scroll::-webkit-scrollbar {
    width: 5.83px;
  }
  
  .question-option-tabsbox-scroll::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
  }
  
  .question-option-tabsbox-scroll::-webkit-scrollbar-track {
    background-color: #BCBEC0;
    border-radius: 10px;
  }
  

.brake-border {
    border-top: 4px solid #D1D3D4;
    width: 65%;
    margin: 40px auto;
}

.mockreviewdetail-text p {
    line-height: 22px;
    padding: 0px 0px 15px 0px;
    color: #231F20;
    text-align: justify;
}


.mockreviewdetail-text table tbody tr th {
    padding: 4px 30px 4px 0px;
    color: #231F20;
}

.mockreviewdetail-text table tbody tr td {
    color: #231F20;
    padding: 7px 0px;
}

.mockreviewdetail-text ul {
    padding: 0px 0px 0px 20px;
}

.mockreviewdetail-text ul li {
    padding: 4px 0px;
    color: #231F20;
}

.mockreviewdetail-text table {
    margin: 0px 0px 20px 0px;
}

.mockreviewdetail-text table tbody tr {
    position: relative;
}

/* .mockreviewdetail-text table tbody tr:first-child::before {
    position: absolute;
    content: "";
    background: #58595b3b;
    width: 100%;
    top: 0px;
    height: 1px;
    left: 0px;
} */

.mockreviewdetail-text table tbody tr::after {
    position: absolute;
    content: "";
    background: #58595b3b;
    width: 100%;
    bottom: 0px;
    height: 1px;
    left: 0px;
}

.body-scroll-lock {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
  }

  .questiontext-sec .container {
    max-width: 1220px;
}

/********** Review Scroll Page CSS End **********/


/********** Footer CSS Start **********/


.footer-copyright p {
    padding: 0px 0px 15px 0px;
    color: #BCBEC0;
    font-size: 14px;
}


/********** Footer CSS End **********/


@media only screen and (max-width: 1024px) {
    .card-container {
        grid-template-columns: repeat(3, 1fr);
        max-width: 850px;
        margin: 0 auto;
    }

    .mock-container {
        grid-template-columns: repeat(4, minmax(100px, 1fr));
        max-width: 900px;
    }

    .mockbirdseye-boxes {
        grid-template-columns: repeat(15, 1fr) !important;
    }
    
}

@media only screen and (max-width: 992px) {
    .mock-container {   
        grid-template-columns: repeat(4, minmax(100px, 1fr));
        max-width: 800px;
        gap: 40px;
    }

    .mockbirdseye-boxes {
        grid-template-columns: repeat(12, 1fr) !important;
    }
}

@media only screen and (max-width: 768px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
        max-width: 650px;
    }

    .userlogin-sec .card-container {
        grid-template-columns: repeat(2, 1fr);
        max-width: 650px;
    }
    

    .homemock-card {
        margin: 0 auto;
        max-width: 270px;
    }

    .cardbottom-shadow img {
        left: -75px;
        width: 420px;
    }

    .cardbottem-content {
        padding: 29px 28px 30px 29px;
    }

    .cardtop-content {
        padding: 21px 0px 15px 0px;
    }

    .mock-container {
        grid-template-columns: repeat(3, minmax(100px, 1fr));
        max-width: 600px;
        gap: 40px;
    }

    .question-box {
        width: 200px;
    }
    
    .question-box h3 {
        font-size: 24px;
    }
    
    .note-box {
        width: 200px;
    }
    
    .mock-box{
        width: 200px;
    }
    
    .question-box .cardbottom-shadow img {
        left: -60px;
        width: 320px;
    }
    
    .note-box .cardbottom-shadow img {
        left: -65px;
        width: 330px;
    }
    
    .mock-box .cardbottom-shadow img {
        left: -65px;
        width: 330px;
    }

    .question-note-boxes {
        max-width: 700px;
        grid-template-columns: repeat(2, minmax(186.79px, 1fr));
        gap: 50px;
    }
    
    .headermock {
        grid-template-columns: repeat(3, minmax(20%, 1fr));
    }

    .mockquestion-navigate ul {
        width: 75%;
    }

    .mockbirdseye-boxes {
        grid-template-columns: repeat(11, 1fr) !important;
    }
    
}

@media only screen and (max-width: 600px) {
    .card-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .userlogin-sec .card-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .mock-container {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        max-width: 450px;
        gap: 50px;
    }

    .question-note-boxes {
        grid-template-columns: repeat(1, minmax(186.79px, 1fr));
        gap: 40px;
    }
    
    .questions-notes-mock-sec {
        overflow: hidden;
    }

    .headermock {
        grid-template-columns:  30px calc((100% - 30px)/2) calc((100% - 30px)/2);
    }

    .mockquestion-navigate ul {
        width: 80%;
    }

    .mocktxt {
        justify-content: end;
    }

    .mockbirdseye-boxes {
        grid-template-columns: repeat(9, minmax(40px, 1fr)) !important;
    }

    .questiontext-box {
        margin: 0px 0px 29px 0px;
    }

    .mockreview-accordion-tabs {
        display: flex;
        gap: 24px;
        margin-bottom: 10px;
        flex-direction: column;
    }
}

@media only screen and (max-width: 425px) {
    .mock-container {
        grid-template-columns: repeat(1, minmax(100px, 1fr));
        max-width: 250px;
        gap: 50px;
    }

    .questiontext-box {
        padding: 20px 54px 20px 15px;
        margin: 0px 0px 29px 0px;
    }

    .questionsoptions-arrows {
        gap: 20px;
    }

    .mocktxt {
        gap: 4px;
        font-size: 18px;
        justify-content: center;
    }

    .mockbirdseye-boxes {
        grid-template-columns: repeat(7, minmax(40px, 1fr)) !important;
    }
    
}

@media only screen and (max-width: 375px) {
    .headermock {
        display: grid;
        grid-template-columns: 20% 80%;
        gap: 1rem; 
    }

    .headermock > :nth-child(3) {
        grid-column: 1 / -1; 
        justify-content: center;
    }

    .mocktxt {
        justify-content: start;
        padding: 0px 0px 0px 20px;
    }

    .mockquestion-navigate ul {
        width: 70%;
        margin: 0px 30px 0px 0px;
    }

    .mockbirdseye-boxes {
        grid-template-columns: repeat(6, minmax(40px, 1fr)) !important;
    }
}

@media only screen and (max-width: 320px) {
    .mockbirdseye-boxes {
        grid-template-columns: repeat(5, minmax(40px, 1fr)) !important;
    }

}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }

    .questionnumber-sec .container {
        max-width: 1220px;
    }

    .reviewscroll-sec .container {
        max-width: 1220px;
    }
}